html, body {
	height: 100%;
}

body {
	background-image: url(../images/retina_wood.png);
	text-shadow: 1px 1px 2px #ccc;
	border-top: 30px solid #2aa198;
}

.container {
	position: relative;
	height: 600px;
	top: 50%;
	margin-top: -300px;
}

a {
	color: #2aa198;
}

a:hover {
	color: #327873;
}

.ribbon {
}

.container .jumbotron {
	border-radius: 0px;
	padding-bottom: 0px;
	padding-top: 30px;
	border-top: 6px solid #2aa198;
}

.jumbotron .btn {
	float: right;
}

.jumbotron .title {
	color: #2aa198;
	font-size: 70px;
	font-weight: bold;
}

.circle {
	float: left;
	border-radius: 50%;
	margin-top: -10px;
	margin-right: 10px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
 	background: #2aa198;
	color: #fff;	
}

.knowledge {
	color: #2aa198;
}

.equals {
	color: #859900;
}

.power {
	color: yellow;
	display: block;
	float: right;
}

.jumbotron, .section, .links{
	background: rgba(255, 255, 255, 0.4);
}

.section {
	padding: 20px;
	padding-top: 10px;
	border-top: 3px solid #2aa198;
}

.section h2 {
	font-size: 25px;
	margin-bottom: 20px;
}

.links {
	padding:10px;
	margin-top: 30px;
	border-top: 1px solid #2aa198;
}

.links a {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
